/* CONTACT-----BUTTON */
.contact__btn {
    /* border: 1px solid #000e17; */
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 400ms ease;
}

.header__btn {
    background: #fff;
    position: absolute;
    left: 5%;
    top: 6vw;
    z-index: 100;
}
.header__btn:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
    color: #000e17;
    transform: translateY(-1rem);
}
.contact__btn i {
    font-size: 3.5rem;
    position: absolute;
}
.header__btn p {
    font-size: 1.1rem;
    font-weight: 800;
    width: 1rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 15s linear infinite;
}
.header__btn p span {
    position: absolute;
    transform-origin: 0.6rem 5rem ;
}

@keyframes spinText {

    to {
        transform: rotate(360deg);
    }
    
}




@media screen and (max-width: 768px) {
    .header__btn {
    background: #fff;
    position: absolute;
    left: 5%;
    top: 44vw;
    z-index: 10000;
}
}